<!doctype html>
<html lang="en">
<head>
  <meta name="charset" content="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <div class="container">
    <header class="section has-text-centered">
      <h1 class="title is-centered"><%= htmlWebpackPlugin.options.title %></h1>
      <p class="subtitle">Courtesy of <a href="http://www.icndb.com/">ICNDb.com</a></p>
    </header>

    <section class="action columns is-mobile  section has-text-centered">
      <div class="column is-half-mobile">
        <img class="image-chuck" src="/images/chuck_norris.png" alt="Chuck Norris">
      </div>
      <div class="column is-half-mobile">
        <button id="load_button" class="button is-primary is-medium">
          <span class="icon is-small">
              <i class="icon-refresh"></i>
            </span>
          <span>Refresh</span>
        </button>
      </div>
    </section>

    <section class="section">
      <div class="tabs" id="chuck-tabs">
        <ul>
          <li class="tab is-active" data-tab-content="chuck-feed">
            <a>Chuck Feed</a>
          </li>
          <li class="tab" data-tab-content="favorite-feed">
            <a>My Favorites</a>
          </li>
        </ul>
      </div>
    </section>

    <section class="section" id="chuck-feed">
      <div class="notification is-info">
        <button class="delete"></button>
        <span>Click <strong>Refresh</strong> to roundhouse kick some Chuck Norris jokes!</span>
      </div>
      <section id="joke_section"></section>
    </section>

    <section class="section is-hidden" id="favorite-feed">
      <h2>My Favorite Feed</h2>
    </section>

    <template id="joke_template">
      <div class="joke">
        <label class="checkbox">
          <input type="checkbox" value="{id}" data-text="{joke}">
          <span>{joke}</span>
        </label>
      </div>
    </template>
  </div>
</body>
</html>
