<!doctype html>
<html lang="en">
<head>
  <meta name="charset" content="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body style="display: none;">
  <div class="container">
    <header class="section has-text-centered">
      <h1 class="title is-centered"><%= htmlWebpackPlugin.options.title %></h1>
      <p class="subtitle">Courtesy of <a href="http://www.icndb.com/">chucknorris.io</a></p>
    </header>

    <section class="action columns is-mobile  section has-text-centered">
      <div class="column is-half-mobile">
        <img class="image-chuck" src="/images/chuck_norris.png" alt="Chuck Norris">
      </div>
      <div class="column is-half-mobile">
        <button id="load_button" class="button is-primary is-medium">
          <span class="icon is-small">
              <i class="icon-refresh"></i>
            </span>
          <span>Refresh</span>
        </button>
        <br>
        <label class="checkbox">
          <input type="checkbox" id="randomize_favorites">
          <span>Randomize favorites</span>
        </label>
      </div>
    </section>

    <section class="section">
      <div class="tabs" id="chuck-tabs">
        <ul>
          <li class="tab is-active" data-tab-content="chuck-feed">
            <a>Chuck Feed</a>
          </li>
          <li class="tab" data-tab-content="favorite_feed">
            <a>My Favorites <span class="favorites-counter">0</span></a>
          </li>
        </ul>
      </div>
    </section>

    <section class="section" id="chuck-feed">
      <div class="notification is-info">
        <button class="delete"></button>
        <span>Click <strong>Refresh</strong> to roundhouse kick some Chuck Norris jokes!</span>
      </div>
      <section id="joke_section"></section>
    </section>

    <section class="section is-hidden" id="favorite_feed">
      <section id="favorite_section"></section>
    </section>

    <div id="login_modal" class="modal">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Chuck demands login</p>
        </header>
        <section class="modal-card-body">
          <div class="field">
            <div class="control">
              <input class="input" id="username" required type="text" placeholder="Enter your username">
            </div>
            <p id="username_help" class="help is-danger"></p>
          </div>
          <div class="field">
            <div class="control">
              <input class="input" id="password" required type="password" placeholder="Enter your password">
            </div>
            <p id="password_help" class="help is-danger"></p>
          </div>
        </section>
        <footer class="modal-card-foot">
          <button id="login_button" class="button is-success">Login</button>
        </footer>
      </div>
    </div>

    <template id="joke_template">
      <div class="joke">
        <label class="checkbox">
          <input type="checkbox" value="{id}" data-text="{joke}" {checked}>
          <span>{joke}</span>
        </label>
      </div>
    </template>
  </div>
</body>
</html>
