@charset "utf-8";
@import "./config.scss";
@import "./font-icons.scss";

$section-padding: 1rem 1rem;

@import "~bulma/bulma";

body > .container {
  max-width: 500px;
}

.image-chuck {
  max-width: 100px;
  opacity: 0.55;
}

.joke {
  label {
    border-bottom: 1px dashed lightgray;
    display: flex;
    padding: 2rem 0;

    input[type=checkbox] {
      margin: 0.2rem 1rem;
    }
  }
}
